
<h1>ティザーサイト</h1>


<!-- ここでパターンごとに画像をかえる。 -->

<!--パターン1 -->
<% @pattern == 1 %>




<!--パターン2 -->
<% elsif @pattern == 2 %>





<!--パターン3 -->
<% elsif @pattern == 3 %>








<!--パターン4 -->
<% elsif @pattern == 4 %>





<!--パターン5 -->
<% elsif @pattern == 5 %>




<% end %>


























