

<div data-role="content">

  <h1>ティザーサイト管理画面</h1>

  <p><%= link_to "ログアウト",admin_login_logout_path,:method => :put %></p>


  <!-- ボタンを並べる。 -->
  <ul data-role="listview">
    
    <% @patterns.each do |pattern| %>
      
      <li>
        <a href="patterns/<%= pattern.id %>">
          (質問)  <%= pattern.question %>
          <br >
          (回答者数) <%= pattern.users.size %>人  
        </a>
      </li>

    <% end %>

  <ul>







</div>



